:root {
  --background-color: #fcfcfc;
  --accent-color: #9933ff;
}

body {
  margin: 0;
  padding: 0;
}

.vertical-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.nav-link {
  text-transform: capitalize;
}

.nav-link:hover {
  background: #f3f2f2;
}

.text-primary {
  color: var(--accent-color) !important;
}

.table {
  max-width: 100% !important;
  overflow: scroll;
  text-align: center;
}

iframe {
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  /* .vertical-nav {
    left: -15em;
  } */
}
